{{outlet}}


<!-- add the following information to the bricks template
a heading with an ID of brick-heading
a bulleted list with a class of colors
give the colors list the following colors: red, blue, green -->

<h1 id="brick-heading">This is the Brick Heading</h1>
<ul class="colors">
  <li>red</li>
  <li>blue</li>
  <li>green</li>
</ul>
